
body{display:grid;
  background-color:#E3B448;
}
.nav {
  
  border: 1px solid gray;
  padding: 20px;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  
  display:flex;
    background-color:#3A6B35;
    
     border-bottom: 2px solid #262626;
    
     text-decoration: none;

 

}
nav a {
  color: #edefee;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.container {
  margin: 1rem;
  text-align: center;
}
.nav li:hover {
  background-color: #777;
}